build/basic_raytracer
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/out.ppm
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-0fe41efb99ad176b76d5.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b3aa0b93121be471bee8.json
build/.cmake/api/v1/reply/codemodel-v2-bb260f0a19fc27282150.json
build/.cmake/api/v1/reply/index-2022-12-27T19-06-12-0863.json
build/.cmake/api/v1/reply/target-basic_raytracer-Debug-a7553ac1637388de0409.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/basic_raytracer.dir/aabb.cpp.o
build/CMakeFiles/basic_raytracer.dir/build.make
build/CMakeFiles/basic_raytracer.dir/camera.cpp.o
build/CMakeFiles/basic_raytracer.dir/cmake_clean.cmake
build/CMakeFiles/basic_raytracer.dir/CXX.includecache
build/CMakeFiles/basic_raytracer.dir/depend.internal
build/CMakeFiles/basic_raytracer.dir/depend.make
build/CMakeFiles/basic_raytracer.dir/DependInfo.cmake
build/CMakeFiles/basic_raytracer.dir/flags.make
build/CMakeFiles/basic_raytracer.dir/hittablelist.cpp.o
build/CMakeFiles/basic_raytracer.dir/image.cpp.o
build/CMakeFiles/basic_raytracer.dir/link.txt
build/CMakeFiles/basic_raytracer.dir/main.cpp.o
build/CMakeFiles/basic_raytracer.dir/progress.make
build/CMakeFiles/basic_raytracer.dir/ray.cpp.o
build/CMakeFiles/basic_raytracer.dir/sphere.cpp.o
build/CMakeFiles/basic_raytracer.dir/vector3.cpp.o
